* {
    box-sizing: border-box;
}

.left {
    font-size: 3vw;
    background-color: rgb(43, 168, 226);
    padding: 20px;
    float: left;
    width: 20%; /* The width is 20%, by default */
}

.main {
    font-size: 3vw;
    background-color: rgb(228, 197, 140);
    padding: 20px;
    float: left;
    width: 50%; /* The width is 60%, by default */
}

.right {
    font-size: 3vw;
    background-color: rgb(255, 205, 205);
    padding: 20px;
    float: left;
    width: 30%; /* The width is 20%, by default */
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width: 600px) {
    .left,
    .main,
    .right {
        width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
}
