body {
    color: slategrey ; font-family: Arial, Helvetica, sans-serif;
}
h1 {
    background-color:cornsilk;
}
button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
  }
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }
  
  .button2 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
  }
  
  .button2:hover {
    background-color: #008CBA;
    color: white;
  }
  
a {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 18px;
    color: rgb(146, 137, 137);
    background-color: ivory;
  }
.a_head1 {
    text-decoration: none;
    font-weight: bold;
    font-size: 32px;
    color: rgb(102, 126, 205);
  }
  table {
    border: 2px solid black;
    background-color: cornsilk;
  }
  th,tr,td {
    border: 1px dotted black;
    padding: 10px;
    align-content:center;/*doesn't work??*/
    }